<footer>
<p>
  Copyright: Locust Valley Bible Church - 1323 Marker Road, Middletown, MD 21769
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
